/* line 1, ../sass/all-tweets.scss */
.tweet {
  background-color: #eeeeee;
  border: 0.5px solid black;
  border-radius: 5px;
  margin-top: 5px;
  padding: 0;
  z-index: 1;
  opacity: 0.6;
}

/* line 11, ../sass/all-tweets.scss */
.tweet:hover {
  opacity: 1;
}

/* line 15, ../sass/all-tweets.scss */
.tweet header {
  height: 60px;
  padding: 0.5em 1em;
}

/* line 20, ../sass/all-tweets.scss */
.tweet header h2 {
  float: left;
  line-height: 40px;
  margin: 0;
  padding-left: 0.5em;
}

/* line 27, ../sass/all-tweets.scss */
.tweet header .handle {
  float: right;
  line-height: 40px;
  margin: 0;
}

/* line 33, ../sass/all-tweets.scss */
.tweet header img {
  border-radius: 5px;
  float: left;
  height: 100%;
  line-height: 40px;
  width: 40px;
}

/* line 41, ../sass/all-tweets.scss */
.tweet .content {
  background-color: white;
  border-bottom: 0.5px solid black;
  height: 100%;
  margin-top: 0;
  padding: 1em;
}

/* line 49, ../sass/all-tweets.scss */
.tweet p {
  margin: 0;
}

/* line 53, ../sass/all-tweets.scss */
.tweet footer {
  height: 100%;
  padding: 0.5em 1em;
  font-size: 80%;
}

/* line 59, ../sass/all-tweets.scss */
.tweet footer img {
  float: right;
  height: 15px;
  margin: 0 3px;
  width: 15px;
}

/* line 66, ../sass/all-tweets.scss */
.tweet footer .invisible {
  display: none;
}

/* line 70, ../sass/all-tweets.scss */
.tweet:hover footer .invisible {
  display: block;
}
