
.new-tweet {
  background-color: #eeeeee;
  border: 0.5px solid rgb(0, 0, 0);
  border-radius: 5px;
  display: none;
  padding: 1em;
}

.new-tweet .counter {
  float: right;
  font-size: 80%;
  font-style: italic;
  position: relative;
}

.new-tweet .red {
  color: red;
}

.new-tweet h2 {
  border-bottom: 0.5px solid rgb(0, 0, 0);
  margin-top: 0;
}


.new-tweet textarea {
  width: 100%;
  padding: 0.5em;
}
